/* CSS tùy chỉnh của bạn ở đây */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header {
    background: linear-gradient(#8a2387, #e94057, #f27121);
    color: white;
    padding: 10px 20px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; /* Giúp xuống dòng trên thiết bị nhỏ */
}

.header-left {
    display: flex;
    align-items: center;
    gap: 10px; /* Khoảng cách giữa input và button */
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

h2 {
    text-align: center;
}
header nav a:hover {
    color: #ddd;
}
main {
    flex: 1;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}
footer {
    background: linear-gradient( #f27121, #e94057,#8a2387);
    color: white;
    text-align: center;
    padding: 10px;
}
a {
    text-decoration: none;
    color: linear-gradient( #f27121, #e94057,#8a2387)
}

.product-list ul {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}
.product-list ul li {
    background-color: x;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.product-list ul li img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
.product-list img {
    transition: transform 1s ease;
    cursor: pointer;
}
.product-list img:hover {
    transform: scale(2);
}
.product-list ul li h3 {
    margin: 10px 0;
}
.product-list ul li p {
    margin: 5px 0;
}


